<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Sentimental Analysis Model</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"> </script>
</head>

<body>
    <center>
    <strong><h1 style="color:Blue;">Welcome to Erick's Sentimental Model</h1></strong>
    <h3 style="color:;">Which statement do you want to make prediction for:</h3>
    <h2>Enter Statement Here</h3>     
    <form id="input" method="post" action="predict">
    <input type="text" name="text" value="your text here" style="width: 300px; height: 100px" />
    <br>
    
    <input type="submit" value="Submit">
</form>
</center>
</body>  
</html>